.scroll {
  display: flex;
  row-gap: auto;
  height: 220px;
  width: 755px;
  background-color: red;
  border: 3px solid black;
}
.centro {
  height: 150px;
  width: 300px;
  background-color: blue;
  margin: 30px 15px;
}
.izquierda {
  height: 100px;
  width: 200px;
  background-color: blue;
  margin: 55px 0px 0px 10px;
}
.derecha {
  height: 100px;
  width: 200px;
  background-color: blue;
  margin: 55px 0px 0px 0px;
}
/*.centro{
    transition: transform 1s none;
}*/
