.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.formulario label {
  font-weight: bold;
  margin-bottom: 2px;
}

.formulario input {
  border: 1px #1c1c1c solid;
  padding: 10px;
  overflow: hidden;
  outline: none;
  border-radius: 20px;
  margin-bottom: 10px;
}
.formulario textarea {
  border: 1px #1c1c1c solid;
  padding: 10px;
  overflow: hidden;
  outline: none;
  border-radius: 20px;
}

.formulario button {
  margin-top: 10px;
  color: white;
  background-color: #0a543f;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5em;
}
