main {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.landing-background img {
  width: 100vw;
}

.landing-background h1 {
  color: white;
  font-size: 5em;
}

.landing-about-us {
  text-align: center;
  width: 100vw;
  padding: 2rem 10rem;
}

.tarjeta:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.tarjeta {
  width: 18rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 10px;
  background-color: white;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.34);
}

.img-tarjeta {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.body-tarjeta {
  padding: 20px;
}

.tarjeta-titulo {
  font-size: 1.25rem;
  margin-bottom: 10px;
  text-align: center;
  color: black;
}

.texto-tarjeta {
  margin-bottom: 15px;
  text-align: center;
  color: black;
}

.tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-login {
  display: none;
}
