@font-face {
  font-family: "Inria";
  src: url("../fonts/Inria-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Puedes definir más variaciones de la fuente (como bold o italic) siguiendo el mismo patrón */

main {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.landing-background {
  position: relative;
  z-index: 0;
  width: 100%;
}

.landing-background h1 {
  position: absolute;
  font-family: "Inria";
  font-style: italic;
  font-weight: lighter;
  font-size: 4em;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
}

.landing-background img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .landing-background h1 {
    font-size: 3em; /* Tamaño del texto del encabezado h1 */
  }
}

@media screen and (max-width: 767px) {
  .landing-background h1 {
    font-size: 2em; /* Tamaño del texto del encabezado h1 */
  }
}

.reservas-index{
  text-decoration: none;
  background-color: #0a543f;
  padding: 1.5%;
  margin-top: 3%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.34);
  border: none;
}

.reservas-index:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.reservas-a {
  font-size: 180%;
  color:white;
  text-decoration: none;
}

.landing-about-us {
  text-align: center;
  width: 100vw;
  padding: 2em 1em;
}

.tarjeta:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.tarjeta {
  width: 18rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 10px;
  background-color: white;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.34);
}

.img-tarjeta {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.body-tarjeta {
  padding: 20px;
}

.tarjeta-titulo {
  font-size: 1.25rem;
  margin-bottom: 10px;
  text-align: center;
  color: black;
}

.texto-tarjeta {
  margin-bottom: 15px;
  text-align: center;
  color: black;
}

.tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
