main {
  background-image: url("../img/fondoRegistro.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.formulario {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: black;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin-top: 10px;
  flex-direction: column;
}
.formulario label {
  font-weight: bold;
  margin-bottom: 2px;
}

.formulario input {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
  outline: none;
  border-radius: 15px;
  margin-bottom: 10px;
  color: #000000;
}

.input-error {
  border-color: red !important;
  background-color: #ffe6e6 !important;
}

.input-success {
  border-color: green !important;
  background-color: #e6ffe6 !important;
}

.impNombre{
  background-color: green;
}

.checkbox-switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.checkbox-switch label {
  --size: 50px;
  
  cursor: pointer;
  width: var(--size);
  height: calc(var(--size) / 2);
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}
.checkbox-switch label:after {
  content: '';
  position: absolute;
  top: 6%;
  left: 5%;
  width: calc(50% - 5%);
  height: calc(100% - 15%);
  background: #fff;
  border-radius: 90px;
  transition: 0.2s;
}
.checkbox-switch input:checked + label {
  background: #0a543f;
}
.checkbox-switch input:checked + label:after {
  left: calc(100% - 5%);
  transform: translateX(-100%);
}  

.checkbox-switch label:active:after {
  width: 55%;
}

.formulario input:hover {
  border: 1px solid black;
  transition: 1s;
}
.formulario textarea {
  border: 1px #1c1c1c solid;
  padding: 10px;
  overflow: hidden;
  outline: none;
  border-radius: 20px;
}

.formulario button {
  background-color: #0a543f;
  border: none;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5em;
}
.formulario button:hover {
  background-color: #0c6a4b;
}
@media (max-width: 500px){
  h1{
    font-size: larger;
  }
}

@media (min-width: 501px) and (max-width: 900px) {
  h1{
    font-size: x-large;
    padding-top: 10px;
  }
  }