main {
  background-image: url("./img/fondoRegistro.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.formulario {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: black;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin-top: 10px;
  flex-direction: column;
}
.formulario label {
  font-weight: bold;
  margin-bottom: 2px;
}

.formulario input {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
  outline: none;
  border-radius: 15px;
  margin-bottom: 10px;
}
.formulario input:hover {
  border: 1px solid black;
  transition: 1s;
}
.formulario textarea {
  border: 1px #1c1c1c solid;
  padding: 10px;
  overflow: hidden;
  outline: none;
  border-radius: 20px;
}

.formulario button {
  background-color: #0a543f;
  border: none;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5em;
  cursor: pointer;
}
.formulario button:hover {
  background-color: #0c6a4b;
}

h1{
  text-align: center;
}

@media (max-width: 500px){
  h1{
    font-size: larger;
  }
}

@media (min-width: 501px) and (max-width: 900px) {
  h1{
    font-size: x-large;
    padding-top: 10px;
  }
  }
