<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reservas.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hamburguesa.css') }}">

		<!-- favIcon -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<title>VillageVista</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="{{ url_for('index') }}">
					<img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" class="logo">
				</a>
			</div>
			<nav>
				<ul>
					<li><a href="{{ url_for('misReservas') }}">Mis Reservas</a></li>
					<li><a href="{{ url_for('servicios') }}">Servicios</a></li>
					<li><a href="{{ url_for('contacto') }}">Contacto</a></li>
					<li><a id="login" href="{{ url_for('ingreso') }}">Ingresar</a></li>
					<li><a id="signup" href="{{ url_for('registro') }}">Registro</a></li>
				</ul>
			</nav>
			<button class="ham" type="button">
				<span class="barra1"></span>
				<span class="barra2"></span>
				<span class="barra3"></span>
			</button>
		</header>
		<main class="container">
			{% for reserva in reservas %}
			<form class="reserva" method="post" action="/update" enctype="multipart/form-data">
				<h2>Reprograma tu reserva</h2>
				<h3 class="codigo_reserva"name="id_codigo" value="{{ reserva[0] }}">Codigo de reserva: {{ reserva[0] }}</h3>
				<input type="number" id="id_codigo" name="id_codigo" value="{{ reserva[0] }}" required>
				<div class="grupo-fechas">
					<label for="fecha-llegada">Fecha de llegada:</label>
					<input type="date" id="fecha-llegada" name="fecha-llegada" value="{{ reserva[1] }}" required>
					<label for="fecha-salida">Fecha de salida:</label>
					<input type="date" id="fecha-salida" name="fecha-salida" value="{{ reserva[2] }}" required>
				</div>
				<div class="grupo-habitaciones">
					<label for="tipo-habitacion">Tipo de habitación:</label>
					<select id="tipo-habitacion" name="tipo-habitacion" value="{{ reserva[3] }}" required>
						<option value="">Seleccionar</option>
						<option value="Individual" {% if reserva[3] == 'Individual' %} selected {% endif %}>Individual</option>
                		<option value="Doble" {% if reserva[3] == 'Doble' %} selected {% endif %}>Doble</option>
                		<option value="Suite" {% if reserva[3] == 'Suite' %} selected {% endif %}>Suite</option>
                		<option value="Familiar" {% if reserva[3] == 'Familiar' %} selected {% endif %}>Familiar</option>
					</select>
					<label for="cantidad-huespedes">Cantidad de huéspedes:</label>
					<input type="number" id="cantidad-huespedes" name="cantidad-huespedes" min="1" value="{{ reserva[4] }}" required>
				</div>
				<div class="grupo-datos">
					<label for="nombre">Nombre:</label>
					<input type="text" id="nombre" name="nombre" value="{{ reserva[5] }}" required>
					<label for="email">Correo electrónico:</label>
					<input type="email" id="email" name="email" value="{{ reserva[6] }}" required>
					<label for="telefono">Teléfono:</label>
					<input type="tel" id="telefono" name="telefono" value="{{ reserva[7] }}" required>
				</div>
				<button type="submit" value="Guardar">Reprogramar</button>
			</form>
			{% endfor %}
		</main>
		<footer>
			<div class="social-icons">
				<p class="copyright">&copy; 2024 Grupo 20 - Python 24.149 - Codo a Codo.</p>
				<div>
					<a href="https://www.facebook.com/" class="social-icon"><i class="fab fa-facebook-f"></i></a>
					<a href="https://twitter.com/" class="social-icon"><i class="fab fa-twitter"></i></a>
					<a href="https://www.instagram.com/" class="social-icon"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</footer>
		<script src="{{ url_for('static', filename='hamburger.js') }}"></script>
	</body>
</html>
