@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Header */

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 2em;
  border-bottom: 1px solid #ddd;
  position: sticky;
}

.logo {
  height: 100%;
}

.navbar-menu {
  display: flex;
  align-items: start;
}

.navbar-menu li {
  list-style: none;
}

.navbar-menu a {
  color: #000;
  text-decoration: none;
  padding: 10px;
}

.navbar-menu a:hover {
  color: #007b0a;
  transition-duration: 0.3s;
}

.navbar-login {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-login li {
  list-style: none;
  border-radius: 20px;
  padding: 5px;
}

.navbar-login a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.navbar-login a:hover {
  color: #fff;
  transition-duration: 0.1s;
}

#login {
  background-color: #b89860;
}

#signup {
  background-color: #0a543f;
}

/* Fin de header */

/* Main */
main {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Fin de main */

/* Footer */
.footer {
  color: #fff;
  background-color: #333;
  padding-top: 1em;
}

.footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-info {
  padding-left: 1em;
  text-align: left;
}
.footer-info a {
  color: #fff;
  text-decoration: none;
}

.footer-info p {
  margin-bottom: 10px;
}

.social-icons {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.social-icon {
  color: #fff;
  font-size: 1.5em;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #a4dffb;
}

/* Fin de footer */
